.tour {
  padding: 20px 0;

  &-list {
    margin-top: 20px;
  }

  &-banner {
    margin-top: 32px;
    position: relative;

    video {
      width: 100%;
      height: auto;
    }
  }

  &-item {
    @include flex;
    padding: 29px 0;
    text-transform: uppercase;
    justify-content: space-between;
    border-top: 1px solid rgba(217, 217, 217, 0.5);

    &:last-child {
      border-bottom: 1px solid rgba(217, 217, 217, 0.5);
    }

    &__date {
      color: $light;
      font-size: 20px;
      font-weight: 900;
      text-transform: uppercase;
    }

    &__place {
      color: $grey;
      margin-top: 3px;
      font-weight: 400;
    }

    &__city {
      color: $light;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &__button {
      @include button;
    }
  }
}
